//tlačítko
.btn {
    background-color:$green;
    padding: 0.75rem 1.25rem;
    border-radius: 50px;
    display:inline-block;
    transition: background-color 0.45s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);


    &:hover {
        //background-color: darken($greenAcc, 25);
        background-color: $greenLight;
    }

    &:active {
        background-color: $greenDark;
    }
}