nav {
	padding:0rem 1rem;
	box-sizing: border-box;
	width:100%;
	background-color:$bg;
	display:flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position:relative fixed;
	border-bottom: $green 2px solid;

	ul {
		//justify-self: space-between;
		display:inline-flex;
		

		li {
			list-style-type: none;
			padding:1rem;
			position: relative;

			a {
				display:block;
			}
			
			ul {
				display:none;
				position: absolute;
				background-color:$bg;

				li a {
					padding: 0.5rem 1rem;
				}
			}

			&:hover ul {
				display:flex;
				flex-direction: column;
			}
		}
	}
	.btn {
		position: flex-end;
	}

	.submenu {
		border-top: $green 2px dashed;
		border-bottom: $green 2px solid;
		top: 64px;
		z-index:420;
	}
}

