nav {
    height:5rem;
    width:100%;
    background-color:$bgGray;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    align-items: center;

    ul {
        justify-self: space-between;
        display:inline-flex;
        

        li {
            list-style-type: none;
            padding:0.5rem;
            position: relative;
            display:inline-flex;

            a {
                display:block;
            }

            &:hover ul {
                display:block;
            }
            
            ul {
                display:none;
                position: absolute;
                background-color: inherit;

                li a {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
    .btn {
        position: flex-end;
    }
}