//Odkazy v menu
nav {
	
	ul a {
		color:white;
		text-decoration: none;
		font-family:$oswald;
		text-transform: uppercase;

		&:hover {
			color:$green;
		}
	}
}

body {
	color:white;

	h1 {
		font-size: 6rem;
		@include oswaldSemi;
	}

	h2 {
		@include oswaldLight; 
		font-size: 3.75rem;
	}

	h3 {
		@include oswaldSemi;
		font-size: 3rem;
	}

	p {
		font-family: $roboto;
		width: 75ch;
		font-size:1rem;
	}
}

div.btn {
	font-family: $oswald;
	font-size: 0.75rem;
	text-transform: uppercase;
	text-decoration: none;
	color:black;

	a {
		text-decoration: none;

		&:visited {
			color:black;
		}
	}
}