//tlačítko
.btn-primary {
	background-color:$green;
	box-shadow: 1px 1px 5px $green;
	color:black;
	padding: .5rem 1.25rem;
	border-radius: 5px;
	display:inline-block;
	margin:1rem 1rem 1rem 0;
	border:4px solid $green;

	&:visited {
		color:black;
	}


	&:hover {
		//background-color: darken($greenAcc, 25);
		box-shadow: 2px 2px 14px $green;
		transition-timing-function: ease 0.3s all 0;
	}

	&:active {
		box-shadow: -2px -2px 7px $green;
		background-color: darken($green, 20);
		border: 4px solid darken($green,20);
	}
}

.btn-ghost {
	border:4px solid $green;
	color:$green;
	padding: .5rem 1.25rem;
	border-radius: 5px;
	display:inline-block;
	margin:1rem 1rem 1rem 0;
	box-sizing: border-box;

	&:visited {
		color:$green;
	}

	&:hover {
		background-color:$green;
		color:black;
		transition-timing-function: ease 0.3s all 0;
	}

	&:active {
		box-shadow: -2px -2px 7px $green;
		background-color: darken($green, 20);
		border: 4px solid darken($green,20);
	}
}



//formuuláře
form {
	padding: 2rem;

	span {
		font-family: $roboto;
		font-size: 1.25rem;
		display:block;
	}


	label{
		display:block;
		padding:0.5rem .25rem;
	}

	input, textarea{
		display:block;
		border:2px solid white;
		padding:.5rem;
		border-radius:5px;
		background-color: $bg;
		outline:none;
		margin-bottom: 0.75rem;
		width:100%;

		&:hover {
			background-color:lighten($bg, 5);
		}

		&:focus {
			border: 2px solid $purple;
			background-color:lighten($bg,5);
		}

		/*&:invalid {
			border: 2px solid $error;
		}*/
	}

	select {
		color:white;
		background-color: $bg;
		padding:.5rem;
		border-radius:5px;
		outline:none;
		width: 100%;
		border: 2px solid white;
		margin-bottom: 0.75rem;

		&:active {
			border:2px solid $purple;
		}

		&:hover {
			background-color:lighten($bg,10);
		}

	}


	button {
		background-color:$green;
		box-shadow: 1px 1px 5px $green;
		color:black;
		padding: .5rem 1.25rem;
		border-radius: 5px;
		display:inline-block;
		margin:1rem 1rem 1rem 0;
		border:4px solid $green;

			&:hover {
				//background-color: darken($greenAcc, 25);
				box-shadow: 2px 2px 14px $green;
				transition-timing-function: ease 0.3s all 0;
			}

			&:active {
				box-shadow: -2px -2px 7px $green;
				background-color: darken($green, 20);
				border: 4px solid darken($green,20);
			}

			&:visited {
				color:black;
			}
		}
}	
//výběr
::-moz-selection, ::selection { 
	background-color: $purple; 
	color: #ffffff;
}

//layout
main {
	display:grid;
}

.centerContainer {
	display:grid;
	align-content: center;
	justify-content: center;
}

.buttonBox {
	display:inline-flex;
}