nav {
	padding:0rem 1rem;
	box-sizing: border-box;
	width:100%;
	background-color:$bg;
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:relative fixed;
	border-bottom: $green 4px solid;
	user-select: none;
	.toggle{
		display:none;
	}
	#links {
		display:flex;
	}

	ul {
		
		//justify-self: space-between;
		display:inline-flex;
		

		li {
			list-style-type: none;
			padding:1.5rem 1rem;
			position: relative;

			a {
				display:block;
			}
			
			ul {
				display:none;
				position: absolute;
				background-color:$bg;

				li a {
					padding: 0.5rem 1rem;
				}
			}

			&:hover ul {
				display:flex;
				flex-direction: column;
			}
		}
	}

	.submenu {
		border-top: $green 4px solid;
		border-bottom: $green 4px solid;
		top: 80px;
		z-index:420;

		& > ul {
			padding:1rem;

			li {
				margin-left:0;
			}
		}
	}

	#loginBtn {
		align-self: end;

	}

	#navContent{
		width:100%;
		align-self:flex-end;
		display:flex;
		justify-content: space-between;
	}

	input[type=checkbox]{
		display: none;
	}
}