//Odkazy v menu
nav {
	
	ul a {
		color:white;
		text-decoration: none;
		font-family:$oswald;
		text-transform: uppercase;

		&:hover {
			color:$green;
		}
	}
}

body {
	color:white;

	h1 {
		font-size: 6rem;
		@include oswaldSemi;
		text-transform: uppercase;
	}

	h2 {
		@include oswaldSemi; 
		font-size: 3.75rem;
		text-transform: uppercase;
		color:$purple;
	}

	h3 {
		@include oswaldLight;
		font-size: 3rem;
		text-transform: uppercase;
		color: $purple;
	}

	h4 {
		@include oswaldSemi;
		font-size: 2.75rem;
		text-transform: uppercase;
		color: $purple;
	}

	h5 {
		@include oswaldLight;
		font-size: 2.25rem;
		color: $purple;
		text-transform: uppercase;
	}

	blockquote {
		@include oswaldLight;
		font-size: 1.4rem;
		border-left: 4px solid $purple;
		padding:0.5rem 0.5rem 0.5rem 1rem;
		margin: 1rem 0 1rem 1rem;
		background-color: lighten($bg,5);
	}

	p {
		font-family: $roboto;
		max-width: 75ch;
		font-size:1.2rem;
		color: darken(white, 10);
	}

}

button, input[type=submit]{
	font-family: $oswald;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	& > a {
		text-decoration: none;
		user-select: none;

		&:visited {
			color:black;
		}
	}
}

.btn-primary {
	font-family: $oswald;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;

	color:black;
		user-select: none;
		text-decoration: none;

		&:visited {
			color:black;
		}
}

.btn-ghost {
	font-family: $oswald;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;

	color:$green;
	user-select: none;
	text-decoration: none;

		&:visited {
			color:$green;
		}

}

label {
	font-family: $oswald;
	text-transform: uppercase;
	color:white;
	font-size:0.8rem;
}

input, textarea {
	font-family: $roboto;
	font-size:0.9rem;
	color:white;
}

header {
	h1 {
		position:absolute;
		text-align: center;
		z-index: 5;
		color:$bg;
	}
}

main {

	a {
		color:$green;
		transition: all 0.45s;

		&:hover {
			color:darken($green, 10);

		}
	}
}