nav {
	//padding: 0 1rem;
	width:100%;
	background-color:$bg;
	border-bottom: $green 4px solid;
	user-select: none;
	box-sizing: border-box;
	z-index:99;
	display:flex

	#links {
		//display:none;
		position: absolute;
		text-align: center;
		background-color:$bg;
		width:100%;
		z-index: 98;
	}



	ul {
		li {
			list-style-type: none;
			padding:1rem;

			a {
				display:block;
			}

			ul {
				margin: 1rem 0 0 0;
				border-left: $green 4px solid;
				text-align: left;
			}

		}
	}
	#navContent {
		align-self: center;
		justify-self: center;
		display:flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;

		#loginBtn {
			text-align: center;
		}
	}

	input[type=checkbox]{
		display: none;
	}
	
	ul{
		display: none;
	}
	
	input[type=checkbox]:checked ~ ul {
		display: block
	}
	
	input[type=checkbox]:checked ~ ul li ul {
		display: block
	}
}