//písmo v navigaci
nav {
	ul a {
		color:white;
		text-decoration: none;
		font-family:$oswald;
		text-transform: uppercase;
	}
}

main {
	color:white;

	h1 {
		font-size:2rem;
		@include oswaldSemi;
		text-transform: uppercase;
		text-align: center;
		max-width:50ch;
	}

	h2 {
		@include oswaldSemi;
		font-size: 1.5rem;
		text-transform: uppercase;
		color:$purple;
		text-align: center;
		max-width:50ch;
		margin-top: 2rem;

	}

	h3 {
		@include oswaldLight;
		font-size:1.4rem;
		text-transform: uppercase;
		text-align: center;
		max-width:50ch;
		margin-top: 2rem;
	}

	h4 {
		@include oswaldSemi;
		font-size: 1.3rem;
		text-transform: uppercase;
		color: $purple;
		text-align: center;
		max-width:50ch;
		margin-top: 2rem;

	}

	h5 {
		@include oswaldLight;
		font-size:1.2rem;
		text-transform: uppercase;
		color: $purple;
		text-align: center;
		max-width:50ch;
		margin-top: 2rem;

	}

	p {
		font-family: $roboto;
		font-size: 1rem;
		line-height: 1.618rem;
		text-align:left;
		max-width:50ch;
		color: darken(white, 10);
	}

	blockquote {
		@include oswaldLight;
		font-size: 1.4rem;
		border-left: 4px solid $purple;
		padding:0.5rem 0.5rem 0.5rem 2rem;
		margin: 1rem 0 1rem 1rem;
		background-color: lighten($bg,5);
	}

	li {
		font-family:$roboto;
		font-size: 1rem;
		color:dakren(white,10);
		max-width: 65ch;
		margin-left:2rem;
	}

	code {
		background-color:lighten($bg,10);
		max-width: 50ch;
		display:block;
	}

	span {
		max-width:50ch;
		display:inline-block;
	}

	a {
		color:$green;
		transition: all 0.45s;

		&:active {
			color:darken($green, 10);
		}
	}
}

button, input[type=submit] {
	font-family: $oswald;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	a {
		text-decoration: none;
		user-select: none;

		&:visited {
			color:black;
		}
	}
}

.btn-primary {
	font-family: $oswald;
	font-size: 1rem;
	text-transform: uppercase;
	color:black;
	user-select: none;
	text-decoration: none;

	&:visited {
		color:black;
	}
}

.btn-ghost {
	font-family: $oswald;
	font-size: 1rem;
	text-transform: uppercase;
	color:$green;
		user-select: none;
		text-decoration: none;

		&:visited {
			color:$green;
		}

}

label {
	font-family: $oswald;
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
}

input, textarea {
	font-family: $roboto;
	font-size: 1.2rem;
	color:white;
	width:100%;
}

header {
	h1 {
		position:absolute;
		text-align: center;
		z-index: 5;
		color:white;
		max-width:45ch;
	}
}

main {

	a {
		color:$green;
		transition: all 0.45s;

		&:hover {
			color:darken($green, 10);

		}
	}
}