@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600|Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

nav ul a {
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }
  nav ul a:hover {
    color: #00FFC3; }

main {
  color: white; }
  main h1 {
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 65ch; }
  main h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #7526FF;
    max-width: 65ch;
    margin-top: 2rem; }
  main h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: #7526FF;
    max-width: 65ch;
    margin-top: 2rem; }
  main h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    color: #7526FF;
    max-width: 65ch;
    margin-top: 2rem; }
  main h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    color: #7526FF;
    text-transform: uppercase;
    margin-top: 2rem; }
  main blockquote {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    border-left: 4px solid #7526FF;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    margin: 1rem 0 1rem 1rem;
    background-color: #0d0d0d; }
  main p {
    font-family: "Roboto", sans-serif;
    max-width: 65ch;
    font-size: 1rem;
    line-height: 1.618rem;
    color: #e6e6e6; }
  main li {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #e6e6e6;
    max-width: 65ch;
    margin-left: 2rem; }
  main code {
    background-color: #1a1a1a;
    max-width: 65ch;
    display: block; }
  main span {
    max-width: 65ch;
    display: inline-block; }

button, input[type=submit] {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }
  button > a, input[type=submit] > a {
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    button > a:visited, input[type=submit] > a:visited {
      color: black; }

.btn-primary {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none; }
  .btn-primary:visited {
    color: black; }

.btn-ghost {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #00FFC3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none; }
  .btn-ghost:visited {
    color: #00FFC3; }

label {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem; }

input, textarea {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: white; }

header h1 {
  position: absolute;
  text-align: center;
  z-index: 5;
  color: white;
  max-width: 65ch;
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 65ch; }

main a {
  color: #00FFC3;
  -webkit-transition: all 0.45s;
  transition: all 0.45s; }
  main a:hover {
    color: #00cc9c; }

.btn-primary {
  background-color: #00FFC3;
  -webkit-box-shadow: 1px 1px 5px #00FFC3;
          box-shadow: 1px 1px 5px #00FFC3;
  color: black;
  padding: .5rem 1.25rem;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
  border: 4px solid #00FFC3; }
  .btn-primary:visited {
    color: black; }
  .btn-primary:hover {
    -webkit-box-shadow: 2px 2px 14px #00FFC3;
            box-shadow: 2px 2px 14px #00FFC3;
    -webkit-transition-timing-function: ease 0.3s all 0;
            transition-timing-function: ease 0.3s all 0; }
  .btn-primary:active {
    -webkit-box-shadow: -2px -2px 7px #00FFC3;
            box-shadow: -2px -2px 7px #00FFC3;
    background-color: #009975;
    border: 4px solid #009975; }

.btn-ghost {
  border: 4px solid #00FFC3;
  color: #00FFC3;
  padding: .5rem 1.25rem;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .btn-ghost:visited {
    color: #00FFC3; }
  .btn-ghost:hover {
    background-color: #00FFC3;
    color: black;
    -webkit-transition-timing-function: ease 0.3s all 0;
            transition-timing-function: ease 0.3s all 0; }
  .btn-ghost:active {
    -webkit-box-shadow: -2px -2px 7px #00FFC3;
            box-shadow: -2px -2px 7px #00FFC3;
    background-color: #009975;
    border: 4px solid #009975; }

form {
  padding: 2rem; }
  form span {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    display: block; }
  form label {
    display: block;
    padding: 0.5rem .25rem; }
  form input, form textarea {
    display: block;
    border: 2px solid white;
    padding: .5rem;
    border-radius: 5px;
    background-color: #000;
    outline: none;
    margin-bottom: 0.75rem;
    width: 100%;
    /*&:invalid {
    	border: 2px solid $error;
    }*/ }
    form input:hover, form textarea:hover {
      background-color: #0d0d0d; }
    form input:focus, form textarea:focus {
      border: 2px solid #7526FF;
      background-color: #0d0d0d; }
  form select {
    color: white;
    background-color: #000;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    width: 100%;
    border: 2px solid white;
    margin-bottom: 0.75rem; }
    form select:active {
      border: 2px solid #7526FF; }
    form select:hover {
      background-color: #1a1a1a; }
  form button {
    background-color: #00FFC3;
    -webkit-box-shadow: 1px 1px 5px #00FFC3;
            box-shadow: 1px 1px 5px #00FFC3;
    color: black;
    padding: .5rem 1.25rem;
    border-radius: 5px;
    display: inline-block;
    margin: 1rem 1rem 1rem 0;
    border: 4px solid #00FFC3; }
    form button:hover {
      -webkit-box-shadow: 2px 2px 14px #00FFC3;
              box-shadow: 2px 2px 14px #00FFC3;
      -webkit-transition-timing-function: ease 0.3s all 0;
              transition-timing-function: ease 0.3s all 0; }
    form button:active {
      -webkit-box-shadow: -2px -2px 7px #00FFC3;
              box-shadow: -2px -2px 7px #00FFC3;
      background-color: #009975;
      border: 4px solid #009975; }
    form button:visited {
      color: black; }
  form #editForm {
    width: 60vw; }

::-moz-selection, ::-moz-selection {
  background-color: #7526FF;
  color: #ffffff; }

::-moz-selection, ::selection {
  background-color: #7526FF;
  color: #ffffff; }

main {
  display: grid; }

article {
  margin-top: 5rem; }
  article img {
    max-width: 80%; }
  article .notTransparent {
    background-color: white; }

table {
  color: white;
  font-family: "Roboto", sans-serif; }

header {
  height: 70vh;
  width: 100%;
  background-color: #00FFC3;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header .heroImg {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(https://get.wallhere.com/photo/bliss-Windows-XP-sky-blue-clouds-nature-grass-hill-1450009.jpg); }

footer {
  margin-top: 2rem;
  background-color: #000;
  border-top: 4px solid #00FFC3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  text-align: center; }
  footer hr {
    width: 60%; }
  footer a {
    color: #00FFC3;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
    font-family: "Roboto", sans-serif; }
    footer a:hover {
      color: #00cc9c; }
  footer span {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center; }

.centerContainer {
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.buttonBox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

nav {
  padding: 0rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative fixed;
  border-bottom: #00FFC3 4px solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  nav .toggle {
    display: none; }
  nav #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    nav ul li {
      list-style-type: none;
      padding: 1.5rem 1rem;
      position: relative; }
      nav ul li a {
        display: block; }
      nav ul li ul {
        display: none;
        position: absolute;
        background-color: #000; }
        nav ul li ul li a {
          padding: 0.5rem 1rem; }
      nav ul li:hover ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
  nav .submenu {
    border-top: #00FFC3 4px solid;
    border-bottom: #00FFC3 4px solid;
    top: 80px;
    z-index: 420; }
    nav .submenu > ul {
      padding: 1rem; }
      nav .submenu > ul li {
        margin-left: 0; }
  nav #loginBtn {
    -ms-flex-item-align: end;
        align-self: end; }
  nav #navContent {
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  nav input[type=checkbox] {
    display: none; }

body {
  background-color: #000; }
