@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600|Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

nav ul a {
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }
  nav ul a:hover {
    color: #00FFC3; }

body {
  color: white; }
  body h1 {
    font-size: 6rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
  body h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 3.75rem;
    text-transform: uppercase;
    color: #7526FF; }
  body h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase; }
  body p {
    font-family: "Roboto", sans-serif;
    width: 75ch;
    font-size: 1rem; }

div.btn, button, input[type=submit] {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none; }
  div.btn a, button a, input[type=submit] a {
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    div.btn a:visited, button a:visited, input[type=submit] a:visited {
      color: black; }

label {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 1rem; }

input, textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: white; }

.btn, button {
  padding: .5rem 1.25rem;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  margin: 1rem;
  border: none; }

.primary {
  background-color: #00FFC3;
  -webkit-box-shadow: 1px 1px 5px #00FFC3;
          box-shadow: 1px 1px 5px #00FFC3;
  color: black; }
  .primary:hover, .primary:focus {
    -webkit-box-shadow: 2px 2px 14px #00FFC3;
            box-shadow: 2px 2px 14px #00FFC3;
    -webkit-transition-timing-function: ease 0.3s all 0;
            transition-timing-function: ease 0.3s all 0; }
  .primary:active {
    -webkit-box-shadow: -2px -2px 7px #00FFC3;
            box-shadow: -2px -2px 7px #00FFC3;
    background-color: #009975; }
  .primary:visited {
    color: black; }

.secondary {
  background-color: #7526FF;
  -webkit-box-shadow: 1px 1px 5px #7526FF;
          box-shadow: 1px 1px 5px #7526FF;
  color: black; }
  .secondary:hover {
    -webkit-box-shadow: 2px 2px 7px #7526FF;
            box-shadow: 2px 2px 7px #7526FF;
    -webkit-transition-timing-function: ease 0.3s all 0;
            transition-timing-function: ease 0.3s all 0; }
  .secondary:active {
    -webkit-box-shadow: -2px -2px 7px #7526FF;
            box-shadow: -2px -2px 7px #7526FF;
    background-color: #4600bf; }
  .secondary:visited {
    color: black; }

label {
  display: block;
  padding: 0.5rem .25rem;
  margin-left: 0.5rem; }

input, textarea {
  display: block;
  border: 2px solid white;
  padding: .5rem;
  border-radius: 5px;
  background-color: #000; }
  input:hover, textarea:hover {
    background-color: #0d0d0d; }
  input:focus, textarea:focus {
    border: 2px solid #00FFC3;
    background-color: #0d0d0d; }
  input:invalid, textarea:invalid {
    border: 2px solid #ff5252; }

::-moz-selection, ::-moz-selection {
  background-color: #7526FF;
  color: #ffffff; }

::-moz-selection, ::selection {
  background-color: #7526FF;
  color: #ffffff; }

nav {
  padding: 0rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative fixed;
  border-bottom: #00FFC3 4px solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  nav .toggle {
    display: none; }
  nav #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    nav ul li {
      list-style-type: none;
      padding: 1.5rem 1rem;
      position: relative; }
      nav ul li a {
        display: block; }
      nav ul li ul {
        display: none;
        position: absolute;
        background-color: #000; }
        nav ul li ul li a {
          padding: 0.5rem 1rem; }
      nav ul li:hover ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
  nav .submenu {
    border-top: #00FFC3 4px solid;
    border-bottom: #00FFC3 4px solid;
    top: 72px;
    z-index: 420; }
    nav .submenu > ul {
      padding: 1rem; }
  nav #loginBtn {
    -ms-flex-item-align: end;
        align-self: end; }
  nav #navContent {
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

body {
  background-color: #000; }
