@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600|Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

nav ul a {
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

main {
  color: white; }
  main h1 {
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    max-width: 40ch; }
  main h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #7526FF;
    text-align: left;
    max-width: 35ch;
    margin-top: 2rem; }
  main h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
    max-width: 50ch;
    margin-top: 2rem;
    color: #7526FF; }
  main h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: #7526FF;
    text-align: left;
    max-width: 50ch;
    margin-top: 2rem; }
  main h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #7526FF;
    text-align: left;
    max-width: 50ch;
    margin-top: 2rem; }
  main p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.618rem;
    text-align: left;
    max-width: 50ch;
    color: #e6e6e6;
    margin-bottom: 1rem; }
  main blockquote {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    border-left: 4px solid #7526FF;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    margin: 1rem 0 1rem 1rem;
    background-color: #0d0d0d; }
  main li {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: dakren(white, 10);
    max-width: 65ch;
    margin-left: 2rem; }
  main code {
    background-color: #1a1a1a;
    max-width: 50ch;
    display: block; }
  main span {
    max-width: 50ch;
    display: inline-block; }
  main a {
    color: #00FFC3;
    -webkit-transition: all 0.45s;
    transition: all 0.45s; }
    main a:active {
      color: #00cc9c; }

button, input[type=submit] {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }
  button a, input[type=submit] a {
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    button a:visited, input[type=submit] a:visited {
      color: black; }

.btn-primary {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none; }
  .btn-primary:visited {
    color: black; }

.btn-ghost {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #00FFC3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none; }
  .btn-ghost:visited {
    color: #00FFC3; }

label {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 1rem; }

input, textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: white;
  width: 100%; }

header h1 {
  position: absolute;
  text-align: center;
  z-index: 5;
  color: white;
  max-width: 15ch;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  max-width: 50ch; }

main a {
  color: #00FFC3;
  -webkit-transition: all 0.45s;
  transition: all 0.45s; }
  main a:hover {
    color: #00cc9c; }

.btn-primary {
  background-color: #00FFC3;
  -webkit-box-shadow: 1px 1px 5px #00FFC3;
          box-shadow: 1px 1px 5px #00FFC3;
  color: black;
  padding: .5rem 1.25rem;
  border-radius: 5px;
  display: block;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  margin: 1rem 0;
  border: 4px solid #00FFC3;
  text-align: center; }
  .btn-primary:visited {
    color: black; }
  .btn-primary:active {
    -webkit-box-shadow: -2px -2px 7px #00FFC3;
            box-shadow: -2px -2px 7px #00FFC3;
    background-color: #009975;
    border: 4px solid #009975; }

.btn-ghost {
  border: 4px solid #00FFC3;
  color: #00FFC3;
  padding: .5rem 1.25rem;
  margin: 1rem 0;
  border-radius: 5px;
  display: block;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center; }
  .btn-ghost:visited {
    color: #00FFC3; }
  .btn-ghost:active {
    -webkit-box-shadow: -2px -2px 7px #00FFC3;
            box-shadow: -2px -2px 7px #00FFC3;
    background-color: #009975;
    border: 4px solid #009975; }

.fullWidthBtn {
  width: 100%;
  clear: both; }

form {
  padding: 2rem; }
  form label {
    display: block;
    padding: 0.5rem .25rem; }
  form span {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    display: block; }
  form input, form textarea {
    display: block;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #000;
    outline: none;
    margin-bottom: 0.75rem;
    /*&:invalid {
    	border: 2px solid $error;
    }*/ }
    form input:focus, form textarea:focus {
      border: 2px solid #7526FF;
      background-color: #0d0d0d;
      outline: none; }
  form select {
    color: white;
    background-color: #000;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    width: 100%;
    border: 2px solid white;
    margin-bottom: 0.75rem; }
    form select:active {
      border: 2px solid #7526FF; }
  form button {
    background-color: #00FFC3;
    -webkit-box-shadow: 1px 1px 5px #00FFC3;
            box-shadow: 1px 1px 5px #00FFC3;
    color: black;
    padding: .5rem 1.25rem;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
    margin: 1rem 0;
    border: 4px solid #00FFC3;
    width: 100%; }
    form button:visited {
      color: black; }
    form button:active {
      -webkit-box-shadow: -2px -2px 7px #00FFC3;
              box-shadow: -2px -2px 7px #00FFC3;
      background-color: #009975;
      border: 4px solid #009975; }

::-moz-selection, ::-moz-selection {
  background-color: #7526FF;
  color: #ffffff; }

::-moz-selection, ::selection {
  background-color: #7526FF;
  color: #ffffff; }

main {
  display: grid; }

header {
  height: 80vh;
  width: 100%;
  background-color: #00FFC3;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header .heroImg {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(https://get.wallhere.com/photo/bliss-Windows-XP-sky-blue-clouds-nature-grass-hill-1450009.jpg); }

footer {
  margin-top: 2rem;
  background-color: #000;
  border-top: 4px solid #00FFC3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  text-align: center; }
  footer a {
    color: #00FFC3;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
    font-family: "Roboto", sans-serif; }
    footer a:hover {
      color: #00cc9c; }
  footer span {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center; }

article {
  margin-top: 3rem; }
  article img {
    max-width: 80%; }
  article .notTransparent {
    background-color: white; }

table {
  color: white;
  font-family: "Roboto", sans-serif; }

.centerContainer {
  margin: 0 2rem;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 1fr; }

nav {
  width: 100%;
  background-color: #000;
  border-bottom: #00FFC3 4px solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 99;
  display: block; }
  nav .toggle {
    padding: .5rem 1.25rem;
    margin: 1rem 0;
    color: #00FFC3;
    display: block; }
  nav #links {
    background-color: #000;
    width: 100%;
    z-index: 98; }
  nav .btn-primary, nav .btn-ghost {
    margin: 1rem; }
  nav ul li {
    list-style-type: none;
    padding: 1rem; }
    nav ul li a {
      display: block; }
    nav ul li ul {
      margin: 1rem 0 0 0;
      border-left: #00FFC3 4px solid;
      text-align: left; }
  nav #navContent {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    nav #navContent #loginBtn {
      text-align: center; }
  nav input[type=checkbox] {
    display: none; }
  nav ul {
    display: none; }
  nav input[type=checkbox]:checked ~ ul {
    display: block; }
  nav input[type=checkbox]:checked ~ ul li ul {
    display: block; }

body {
  background-color: #000; }
