@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600|Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

nav ul a {
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
nav ul a:hover {
  color: #00FFC3;
}

body {
  color: white;
}
body h1 {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
body h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3.75rem;
  text-transform: uppercase;
  color: #7526FF;
}
body h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}
body p {
  font-family: "Roboto", sans-serif;
  width: 75ch;
  font-size: 1rem;
}

div.btn {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}
div.btn a {
  text-decoration: none;
}
div.btn a:visited {
  color: black;
}

.btn, button {
  padding: .5rem 1.25rem;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  margin: 1rem 1rem;
}

.primary {
  background-color: #00FFC3;
  -webkit-box-shadow: 1px 1px 5px #00FFC3;
          box-shadow: 1px 1px 5px #00FFC3;
  color: black;
}
.primary:hover {
  -webkit-box-shadow: 2px 2px 7px #00FFC3;
          box-shadow: 2px 2px 7px #00FFC3;
  -webkit-transition-timing-function: ease 0.3s all 0;
          transition-timing-function: ease 0.3s all 0;
}
.primary:active {
  -webkit-box-shadow: -2px -2px 7px #00FFC3;
          box-shadow: -2px -2px 7px #00FFC3;
  background-color: #009975;
}
.primary:visited {
  color: black;
}

.secondary {
  background-color: #7526FF;
  -webkit-box-shadow: 1px 1px 5px #7526FF;
          box-shadow: 1px 1px 5px #7526FF;
  color: black;
}
.secondary:hover {
  -webkit-box-shadow: 2px 2px 7px #7526FF;
          box-shadow: 2px 2px 7px #7526FF;
  -webkit-transition-timing-function: ease 0.3s all 0;
          transition-timing-function: ease 0.3s all 0;
}
.secondary:active {
  -webkit-box-shadow: -2px -2px 7px #7526FF;
          box-shadow: -2px -2px 7px #7526FF;
  background-color: #4600bf;
}
.secondary:visited {
  color: black;
}

nav {
  padding: 0rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative fixed;
  border-bottom: #00FFC3 2px solid;
}
nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
nav ul li {
  list-style-type: none;
  padding: 1.5rem 1rem;
  position: relative;
}
nav ul li a {
  display: block;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: #000;
}
nav ul li ul li a {
  padding: 0.5rem 1rem;
}
nav ul li:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
nav .btn {
  position: flex-end;
}
nav .submenu {
  border-top: #00FFC3 2px dashed;
  border-bottom: #00FFC3 4px solid;
  top: 72px;
  z-index: 420;
}
nav .submenu > ul {
  padding: 1rem;
}

body {
  background-color: #000;
}
